$width-min: 1200px;

$content-center: 0 auto;

$decoration-none: none;

$bgc-black: #1c1c1c;

$bgc-sand: #f7f7f2;

$color-orange: #d2401e;

$color-white: white;

$color-grey: #a5a5a5;

$color-dark-yellow: #b7903c;

$size-medium: 16px;

$size-small: 12px;

$size-large: 24px;
